<div class="about">
  <div class="headerEdit">
    <h2>About</h2>
    <div *ngIf=(session) class="editCont" (click)="btnNewExp()">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M19 20H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2ZM5 18h.09l4.17-.38a2 2 0 0 0 1.21-.57l9-9a1.92 1.92 0 0 0-.07-2.71L16.66 2.6A2 2 0 0 0 14 2.53l-9 9a2 2 0 0 0-.57 1.21L4 16.91a1 1 0 0 0 .29.8A1 1 0 0 0 5 18ZM15.27 4L18 6.73l-2 1.95L13.32 6Z" />
      </svg>
    </div>
  </div>


  <div class="row myAbout">
    <div class="col-12 col-lg-4 fotoPerfilCont mt-1">
      <img class="fotoPerfil" src="../assets/IMG_0086.JPG" alt="perfil" />
    </div>
    <div *ngFor="let ab of abouText ;let indexOfelement=index;" class="col-12 col-lg-8 mt-1">
      <h2 class="aboutSubtitle">I'am {{ name }}</h2>
      <div>
        <p *ngIf="!edit; else editAbout" class="aboutText">
          {{ab.text}}
        </p>
      </div>


      <ng-template #editAbout>
        <div class="card mt-1" id="newAbouText">

          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
              <div class="mb-1">
                <label for="newAbouText" class="form-label"> Edit About </label>
                <textarea class="form-control" id="newAbouText" rows="3" formControlName="aboutText"
                  [ngStyle]="{'border-color':(AboutText?.errors && AboutText?.touched) ? 'tomato' : '#736b5e', 'color':(AboutText?.errors && AboutText?.touched) ? 'tomato' : 'whitesmoke' }"></textarea>
                <div class="error" *ngIf="AboutText?.errors  && AboutText?.touched">
                  <p *ngIf="AboutText?.hasError('required')" class="error mt-1">
                    AboutText es requerido.
                  </p>
                  <p *ngIf="AboutText?.errors?.['maxlength']" class="error mt-1">
                    AboutText no puede superar los 1000 caracteres.
                  </p>
                </div>
              </div>

              <div class="btnsEdit">
                <button (click)="cancelar()">
                  <p>Cancelar</p>
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59z" />
                  </svg>
                </button>
                <button type="submit">
                  <p>Guardar</p>
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                    <path fill="currentColor"
                      d="M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600s600-268.629 600-600S931.371 0 600 0zm257.446 281.03l124.657 124.658l-389.354 389.43L468.823 918.97L344.165 794.312l-126.27-126.344l123.853-123.853l126.27 126.343L857.446 281.03z" />
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

    </div>
  </div>





</div>