<div class="contact" id="contact">
    <div class="about">
      <h2>Contact</h2>

      <div class="row">
        <div class="col-1 col-md-2 col-lg-3"></div>
        <div class="col-10 col-md-8 col-lg-6">
          <Form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="name"/>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email"/>
            </div>
            <div class="mb-3">
              <label for="consulta" class="form-label">Consulta</label>
              <textarea class="form-control" id="consulta" rows="3"[(ngModel)]="consulta" ></textarea>
              <div type="submit" class="button mt-3" ng-click="$event.preventDefault()" (click)="send()">Send</div>
            </div>
          </Form>
        </div>
        <div class="col-1 col-md-2 col-lg-3"></div>
      </div>
    </div>
  </div>
