<div class="container">
  <div class="about">

    <div class="headerEdit">
      <h2>Works</h2>
      <div *ngIf="session && !editWork" type="button" class="editCont" (click)="btnNewWork()">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
          preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
          <path fill="currentColor"
            d="M16 2A14.172 14.172 0 0 0 2 16a14.172 14.172 0 0 0 14 14a14.172 14.172 0 0 0 14-14A14.172 14.172 0 0 0 16 2Zm8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z" />
          <path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7v2z" />
        </svg>
      </div>
    </div>

    <div *ngIf="!newWork; else newW">
      <div *ngIf="!editWork; else edit">
        <div class="card mb-3" *ngFor="let work of worksGet ;let indexOfelement=index;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{work.image}}" class="img-fluid rounded-start" alt="...">
              <div class="buttonsWork">

                <button class="btnWork">
                  <a href="{{work.liveCode}}" target="_blank">Live server</a>
                  <span class="btnSpan"></span>
                </button>
                <a href="{{work.source}}" class="btnGit">Github
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50">
                    <path fill="currentColor" fill-rule="evenodd"
                      d="M25 10c-8.3 0-15 6.7-15 15c0 6.6 4.3 12.2 10.3 14.2c.8.1 1-.3 1-.7v-2.6c-4.2.9-5.1-2-5.1-2c-.7-1.7-1.7-2.2-1.7-2.2c-1.4-.9.1-.9.1-.9c1.5.1 2.3 1.5 2.3 1.5c1.3 2.3 3.5 1.6 4.4 1.2c.1-1 .5-1.6 1-2c-3.3-.4-6.8-1.7-6.8-7.4c0-1.6.6-3 1.5-4c-.2-.4-.7-1.9.1-4c0 0 1.3-.4 4.1 1.5c1.2-.3 2.5-.5 3.8-.5c1.3 0 2.6.2 3.8.5c2.9-1.9 4.1-1.5 4.1-1.5c.8 2.1.3 3.6.1 4c1 1 1.5 2.4 1.5 4c0 5.8-3.5 7-6.8 7.4c.5.5 1 1.4 1 2.8v4.1c0 .4.3.9 1 .7c6-2 10.2-7.6 10.2-14.2C40 16.7 33.3 10 25 10z"
                      clip-rule="evenodd" />
                  </svg></a>

              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="headerEdit">
                  <h5 class="card-title">{{work.name}}</h5>
                  <div *ngIf="session" type="button" class="editCont" (click)="edits(indexOfelement)">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M19 20H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2ZM5 18h.09l4.17-.38a2 2 0 0 0 1.21-.57l9-9a1.92 1.92 0 0 0-.07-2.71L16.66 2.6A2 2 0 0 0 14 2.53l-9 9a2 2 0 0 0-.57 1.21L4 16.91a1 1 0 0 0 .29.8A1 1 0 0 0 5 18ZM15.27 4L18 6.73l-2 1.95L13.32 6Z" />
                    </svg>
                  </div>
                </div>

                <p class="card-text mt-1"><small>{{work.stack}}</small></p>
                <p class="btnDown">
                  <a class="mt-1" data-bs-toggle="collapse" href='#this' role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentColor" fill-rule="evenodd"
                        d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1ZM8.707 9.793a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L12 13.086L8.707 9.793Z"
                        clip-rule="evenodd" />
                    </svg>
                  </a>
                  descripcion

                </p>
                <div class="collapse" id="this">
                  <div class="card-body">
                    {{work.info}}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #edit>
      <div  class="card mb-3">
    
        <form [formGroup]="form" (ngSubmit)="onEdit($event)">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{imageEdit}}" class="img-fluid rounded-start" alt="image">

              <div class="mb-1 input-group-sm">
                <label for="newImage" class="form-label">image</label>
                <input type="text" class="form-control" id="newImage" aria-describedby="newImage"
                  placeholder="url imagen" formControlName="image"
                  [ngStyle]="{'border-color':(Image?.errors &&Image?.touched) ? 'tomato' : '#736b5e', 'color':(Image?.errors && Image?.touched) ? 'tomato' : 'whitesmoke' }">
                <div class="error" *ngIf="Image?.errors  && Image?.touched">
                  <p *ngIf="Image?.hasError('required')" class="error mt-1">
                    Image es requerido.
                  </p>
                  <p *ngIf="Image?.errors?.['minlength']" class="error mt-1">
                    El User debe ser de 5 o más caracteres.
                  </p>
                  <p *ngIf="Image?.errors?.['maxlength']" class="error mt-1">
                    El User debe ser menor a 12 caracteres.
                  </p>
                </div>
              </div>

              <div class="buttonsWork">


                <div class="mb-1 input-group-sm">
                  <label for="newSource" class="form-label">source</label>
                  <input
                    [ngStyle]="{'border-color':(Source?.errors && Source?.touched) ? 'tomato' : '#736b5e', 'color':(Source?.errors && Source?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newSource" aria-describedby="newSource"
                    placeholder="url source" formControlName="source">
                  <div class="error" *ngIf="Source?.errors  && Source?.touched">
                    <p *ngIf="Source?.hasError('required')" class="error mt-1">
                      Source es requerido.
                    </p>
                    <p *ngIf="Source?.errors?.['minlength']" class="error mt-1">
                      Source debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Source?.errors?.['maxlength']" class="error mt-1">
                      Source debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>

                <div class="mb-1 input-group-sm">
                  <label for="newLiveCode" class="form-label">liveCode</label>
                  <input
                    [ngStyle]="{'border-color':(LiveCode?.errors && LiveCode?.touched) ? 'tomato' : '#736b5e', 'color':(LiveCode?.errors && LiveCode?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newLiveCode" aria-describedby="newLiveCode"
                    placeholder="url liveCode" formControlName="liveCode">
                  <div class="error" *ngIf="LiveCode?.errors  && LiveCode?.touched">
                    <p *ngIf="LiveCode?.hasError('required')" class="error mt-1">
                      LiveCode es requerido.
                    </p>
                    <p *ngIf="LiveCode?.errors?.['minlength']" class="error mt-1">
                      LiveCode debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="LiveCode?.errors?.['maxlength']" class="error mt-1">
                      LiveCode debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="headerEdit">



                  <div class=" input-group-sm mb-1">
                    <label for="newName" class="form-label">name</label>
                    <input
                      [ngStyle]="{'border-color':(Name?.errors &&Name?.touched) ? 'tomato' : '#736b5e', 'color':(Name?.errors && Name?.touched) ? 'tomato' : 'whitesmoke' }"
                      type="text" class="form-control" id="newName" aria-describedby="newName" placeholder="name"
                      formControlName="name">
                    <div class="error" *ngIf="Name?.errors  && Name?.touched">
                      <p *ngIf="Name?.hasError('required')" class="error mt-1">
                        El Cargo es requerido.
                      </p>
                      <p *ngIf="Name?.errors?.['minlength']" class="error mt-1">
                        El User debe ser de 5 o más caracteres.
                      </p>
                      <p *ngIf="Name?.errors?.['maxlength']" class="error mt-1">
                        El User debe ser menor a 12 caracteres.
                      </p>
                    </div>

                  </div>
                  <div class="delete" (click)="delete(ids, '')">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentcolor"
                        d="M21.5 6a1 1 0 0 1-.883.993L20.5 7h-.845l-1.231 12.52A2.75 2.75 0 0 1 15.687 22H8.313a2.75 2.75 0 0 1-2.737-2.48L4.345 7H3.5a1 1 0 0 1 0-2h5a3.5 3.5 0 1 1 7 0h5a1 1 0 0 1 1 1Zm-7.25 3.25a.75.75 0 0 0-.743.648L13.5 10v7l.007.102a.75.75 0 0 0 1.486 0L15 17v-7l-.007-.102a.75.75 0 0 0-.743-.648Zm-4.5 0a.75.75 0 0 0-.743.648L9 10v7l.007.102a.75.75 0 0 0 1.486 0L10.5 17v-7l-.007-.102a.75.75 0 0 0-.743-.648ZM12 3.5A1.5 1.5 0 0 0 10.5 5h3A1.5 1.5 0 0 0 12 3.5Z" />
                    </svg>
                  </div>
                </div>


                <div class="mb-1 input-group-sm">
                  <label for="newStack" class="form-label">stack</label>
                  <input
                    [ngStyle]="{'border-color':(Stack?.errors &&Stack?.touched) ? 'tomato' : '#736b5e', 'color':(Stack?.errors && Stack?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newStack" aria-describedby="newStack" placeholder="stack"
                    formControlName="stack">
                  <div class="error" *ngIf="Stack?.errors  && Stack?.touched">
                    <p *ngIf="Stack?.hasError('required')" class="error mt-1">
                      El Stack es requerido.
                    </p>
                    <p *ngIf="Stack?.errors?.['minlength']" class="error mt-1">
                      El Stack debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Stack?.errors?.['maxlength']" class="error mt-1">
                      El Stack debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>


                <div class="mb-1">
                  <label for="newInfo" class="form-label">info</label>

                  <textarea
                    [ngStyle]="{'border-color':(Info?.errors &&Info?.touched) ? 'tomato' : '#736b5e', 'color':(Info?.errors && Info?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" aria-label="newInfo" id="newInfo" placeholder="info"
                    formControlName="info">
                    </textarea>
                  <div class="error" *ngIf="Info?.errors  && Info?.touched">
                    <p *ngIf="Info?.hasError('required')" class="error mt-1">
                      Info es requerido.
                    </p>
                    <p *ngIf="Info?.errors?.['minlength']" class="error mt-1">
                      Info debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Info?.errors?.['maxlength']" class="error mt-1">
                      Info debe ser menor a 12 caracteres.
                    </p>
                  </div>

                </div>


                <div class="btnsEdit">
                  <button class="button" (click)="cancelar()">
                    <p>Cancelar</p>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59z" />
                    </svg>
                  </button >
                  <button class="button" type="submit">
                    <p>Guardar</p>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                      <path fill="currentColor"
                        d="M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600s600-268.629 600-600S931.371 0 600 0zm257.446 281.03l124.657 124.658l-389.354 389.43L468.823 918.97L344.165 794.312l-126.27-126.344l123.853-123.853l126.27 126.343L857.446 281.03z" />
                    </svg>
                  </button >
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>



    <ng-template #newW>

      <div class="card mb-3">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://img.freepik.com/psd-gratis/maqueta-presentacion-sitio-web-aislado_359791-174.jpg?w=826&t=st=1649875760~exp=1649876360~hmac=f9cc4f30e3a4caa60eb9cf145a2e952d05531bd37f2f5e310c0e05d2f3eb9d1a" class="img-fluid rounded-start" alt="image">

              <div class="mb-1 input-group-sm">
                <label for="newImage" class="form-label">image</label>
                <input type="text" class="form-control" id="newImage" aria-describedby="newImage"
                  placeholder="url imagen" formControlName="image"
                  [ngStyle]="{'border-color':(Image?.errors &&Image?.touched) ? 'tomato' : '#736b5e', 'color':(Image?.errors && Image?.touched) ? 'tomato' : 'whitesmoke' }">
                <div class="error" *ngIf="Image?.errors  && Image?.touched">
                  <p *ngIf="Image?.hasError('required')" class="error mt-1">
                    Image es requerido.
                  </p>
                  <p *ngIf="Image?.errors?.['minlength']" class="error mt-1">
                    El User debe ser de 5 o más caracteres.
                  </p>
                  <p *ngIf="Image?.errors?.['maxlength']" class="error mt-1">
                    El User debe ser menor a 12 caracteres.
                  </p>
                </div>
              </div>

              <div class="buttonsWork">


                <div class="mb-1 input-group-sm">
                  <label for="newSource" class="form-label">source</label>
                  <input
                    [ngStyle]="{'border-color':(Source?.errors && Source?.touched) ? 'tomato' : '#736b5e', 'color':(Source?.errors && Source?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newSource" aria-describedby="newSource"
                    placeholder="url source" formControlName="source">
                  <div class="error" *ngIf="Source?.errors  && Source?.touched">
                    <p *ngIf="Source?.hasError('required')" class="error mt-1">
                      Source es requerido.
                    </p>
                    <p *ngIf="Source?.errors?.['minlength']" class="error mt-1">
                      Source debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Source?.errors?.['maxlength']" class="error mt-1">
                      Source debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>

                <div class="mb-1 input-group-sm">
                  <label for="newLiveCode" class="form-label">liveCode</label>
                  <input
                    [ngStyle]="{'border-color':(LiveCode?.errors && LiveCode?.touched) ? 'tomato' : '#736b5e', 'color':(LiveCode?.errors && LiveCode?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newLiveCode" aria-describedby="newLiveCode"
                    placeholder="url liveCode" formControlName="liveCode">
                  <div class="error" *ngIf="LiveCode?.errors  && LiveCode?.touched">
                    <p *ngIf="LiveCode?.hasError('required')" class="error mt-1">
                      LiveCode es requerido.
                    </p>
                    <p *ngIf="LiveCode?.errors?.['minlength']" class="error mt-1">
                      LiveCode debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="LiveCode?.errors?.['maxlength']" class="error mt-1">
                      LiveCode debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="headerEdit">



                  <div class=" input-group-sm mb-1">
                    <label for="newName" class="form-label">name</label>
                    <input
                      [ngStyle]="{'border-color':(Name?.errors &&Name?.touched) ? 'tomato' : '#736b5e', 'color':(Name?.errors && Name?.touched) ? 'tomato' : 'whitesmoke' }"
                      type="text" class="form-control" id="newName" aria-describedby="newName" placeholder="name"
                      formControlName="name">
                    <div class="error" *ngIf="Name?.errors  && Name?.touched">
                      <p *ngIf="Name?.hasError('required')" class="error mt-1">
                        El Cargo es requerido.
                      </p>
                      <p *ngIf="Name?.errors?.['minlength']" class="error mt-1">
                        El User debe ser de 5 o más caracteres.
                      </p>
                      <p *ngIf="Name?.errors?.['maxlength']" class="error mt-1">
                        El User debe ser menor a 12 caracteres.
                      </p>
                    </div>

                  </div>

                </div>


                <div class="mb-1 input-group-sm">
                  <label for="newStack" class="form-label">stack</label>
                  <input
                    [ngStyle]="{'border-color':(Stack?.errors &&Stack?.touched) ? 'tomato' : '#736b5e', 'color':(Stack?.errors && Stack?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" id="newStack" aria-describedby="newStack" placeholder="stack"
                    formControlName="stack">
                  <div class="error" *ngIf="Stack?.errors  && Stack?.touched">
                    <p *ngIf="Stack?.hasError('required')" class="error mt-1">
                      El Stack es requerido.
                    </p>
                    <p *ngIf="Stack?.errors?.['minlength']" class="error mt-1">
                      El Stack debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Stack?.errors?.['maxlength']" class="error mt-1">
                      El Stack debe ser menor a 12 caracteres.
                    </p>
                  </div>
                </div>


                <div class="mb-1">
                  <label for="newInfo" class="form-label">info</label>

                  <textarea
                    [ngStyle]="{'border-color':(Info?.errors &&Info?.touched) ? 'tomato' : '#736b5e', 'color':(Info?.errors && Info?.touched) ? 'tomato' : 'whitesmoke' }"
                    type="text" class="form-control" aria-label="newInfo" id="newInfo" placeholder="info"
                    formControlName="info">
                    </textarea>
                  <div class="error" *ngIf="Info?.errors  && Info?.touched">
                    <p *ngIf="Info?.hasError('required')" class="error mt-1">
                      Info es requerido.
                    </p>
                    <p *ngIf="Info?.errors?.['minlength']" class="error mt-1">
                      Info debe ser de 5 o más caracteres.
                    </p>
                    <p *ngIf="Info?.errors?.['maxlength']" class="error mt-1">
                      Info debe ser menor a 12 caracteres.
                    </p>
                  </div>

                </div>


                <div class="btnsEdit">
                  <button class="button" type="submit">
                    <div (click)="cancelar()">
                      <p>Cancelar</p>
                      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17L12 13.41L8.41 17L7 15.59L10.59 12L7 8.41L8.41 7L12 10.59L15.59 7L17 8.41L13.41 12L17 15.59z" />
                      </svg>
                    </div>
                  </button>
                  <button class="button" type="submit">
                    <p>Agregar</p>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                      preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                      <path fill="currentColor"
                        d="M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600s600-268.629 600-600S931.371 0 600 0zm257.446 281.03l124.657 124.658l-389.354 389.43L468.823 918.97L344.165 794.312l-126.27-126.344l123.853-123.853l126.27 126.343L857.446 281.03z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>


    </ng-template>



    <a class="" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
        <path fill="whitesmoke"
          d="m272.9 512l265.4-339.1c4.1-5.2.4-12.9-6.3-12.9h-77.3c-4.9 0-9.6 2.3-12.6 6.1L186.8 492.3a31.99 31.99 0 0 0 0 39.5l255.3 326.1c3 3.9 7.7 6.1 12.6 6.1H532c6.7 0 10.4-7.7 6.3-12.9L272.9 512zm304 0l265.4-339.1c4.1-5.2.4-12.9-6.3-12.9h-77.3c-4.9 0-9.6 2.3-12.6 6.1L490.8 492.3a31.99 31.99 0 0 0 0 39.5l255.3 326.1c3 3.9 7.7 6.1 12.6 6.1H836c6.7 0 10.4-7.7 6.3-12.9L576.9 512z" />
      </svg>

    </a>




  </div>
</div>