

.about {
    margin-top: 10px;
    background-color:hsl(195,6%,11%);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10rem;
    margin-right: 10rem;
    z-index: 6;
  }
  .card{
    background-color: transparent;
  }
  .card{
    margin-top: 5px;
    padding: 5px;
    border-radius:0.5rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(23, 27, 35, 0.6);
    border: 1px solid rgba(23, 27, 35, 0.6); 
  }
  svg{
    height: 30px;
   width: 30px;
  }
.btnDown{
    right: 0;
    margin: 0.5rem;
}
.buttonsWork{
    padding: 20px;
  }

  .btnWork{
    border: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: hsl(195,58%,31%) ;
    z-index: 1;
    font-weight: 500;
    padding: 0.5rem 1rem;
   }
  
   .btnSpan {
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 1px solid hsl(195,58%,31%) ;
   }
   .btnSpan::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(23, 27, 35, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .btnWork:hover .btnSpan::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: hsl(195,58%,31%) ;
   }
   
   .card:hover {

    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    
  }

  .headerEdit{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .editCont svg{
 
    margin-top: 20px;
  }
  

  a,
  a:visited,
  a:hover {
    color: gainsboro;
    text-decoration: none;
  }
  
   
   .btnWork:active .btnSpan::before {
    background: hsl(195,58%,31%) ;
   }

   .btnsEdit{
    display: flex;
    
   justify-content: right;
  
   margin-top: 1rem;
  }
  .btnsEdit svg{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 25px;
    height: 25px;
  }
  .btnsEdit p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  .btnsEdit div{
    display: flex;}
    .form-control{
      background-color:hsl(200,5%,10%) ;
      border-color: #736b5e;
      color: #fff;
    }

    .btnGit{
      margin-left: 10px;
    }

    .error p{
      color: tomato;
      margin-top: 10px;
    }
    .button{
      display: flex;
      background: transparent;
      color: whitesmoke;
      border: none;
    }
    .input-group-sm{
      margin-top:0.5rem ;
    }

  @media screen and (max-width: 990px) {
 
    .about {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
    
    .about {
      margin-left: 2rem;
      margin-right: 2rem;
    }
   
  }
  
  @media screen and (max-width: 575px) {
   
    .about {
      margin-right: 0rem;
      margin-left: 0rem;
    }
  
    
  }
  