.about {
    margin-top: 10px;
    background-color:hsl(195,6%,11%);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10rem;
    margin-right: 10rem;
    z-index: 6;
  }

  .target{
    background-color:transparent;
    color: rgb(232, 230, 227);
    
  }
  .studioEdit{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

svg{
    height: 20px;
   width: 20px;
  }

  .headerEdit{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .editCont svg{
   
    margin-top: 20px;
  }
  .form-control{
    background-color:hsl(200,5%,10%) ;
    border-color: #736b5e;
    color: #fff;
  }

  .card{
    background-color: transparent;
  }
  
  .expEdit{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btnsEdit{
    display: flex;
    justify-content:right;
   margin-top: 1rem;
  }
  .btnsEdit svg{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 25px;
    height: 25px;
  }
  .btnsEdit p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  .btnsEdit div{
    display: flex;}
    


   /* Responsive Styles */
@media screen and (max-width: 990px) {
    
    .about {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: 767px) {
   
    .about {
      margin-left: 2rem;
      margin-right: 2rem;
    }
   
  }
  
  @media screen and (max-width: 575px) {
   
    .about {
      margin-right: 0rem;
      margin-left: 0rem;
    }
    
    
  }